require 'nexmo_rack'

#\ -w -p 8765  
use Rack::Reloader, 0  
use Rack::ContentLength
use Nexmo::Rack::VerifySignature

class MyApp
  def call(env)
    [200, {'Content-Type' => 'text/html'}, ['a sample Rack app']]
  end
end

run MyApp.new
